.section {
}
.section-travellian {
  position: relative;
  background: url("../../img/hero-section.png") center / cover no-repeat;
}
.travellian__container {
  padding-top: 16.875rem;
  padding-bottom: 16.875rem;
}

.travellian__content {
  width: 65%;
  margin-bottom: 10.625rem;
}

.travellian__title {
  font-size: 5.25rem;
  font-family: var(--ff-secondary);
  color: var(--clr-white);
  font-weight: var(--fw-regular);
  line-height: 133.333333%; /* 112/84 */
  margin-bottom: 1rem;
}
.travellian__text {
  font-size: 1.5rem;
  line-height: 116.666667%; /* 28/24 */
  color: var(--clr-white);
}
.travellian__inputs {
  border-radius: 0px 20px 20px 0px;
  position: relative;
  background-color: var(--clr-white);
  width: 80%;

  display: flex;
  gap: 6.25rem;
  justify-content: space-between;
  align-items: center;
}
.travellian__inputs::after {
  content: "";
  position: absolute;
  left: -399px;
  top: 0;
  background-color: var(--clr-white);
  width: 400px;
  height: 100%;
}
.input {
}
.input__group {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  gap: 2.5rem;
}

.input__item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.input__item label {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  line-height: 118.75%; /* 19/16 */
  color: var(--clr-grey);
  text-transform: uppercase;
}

.input__item input,
.input__item select {
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-family: var(--ff-secondary);
  color: var(--clr-blue-dark);
  border-bottom: 1px solid var(--clr-black);
  padding-bottom: 0.625rem;
}

.input__item select option {
  font-size: 1.25rem;
  font-family: var(--ff-secondary);
  color: var(--clr-blue-dark);
  border: none;
  outline: none;
}

.input__item input::placeholder {
  color: var(--clr-blue-dark);
}

.input__btn {
  border: none;
  border-radius: 0px 20px 20px 0px;

  font-family: var(--ff-secondary);
  text-align: left;
  font-size: 2.25rem;
  font-weight: var(--fw-regular);
  line-height: 133.333333%; /* 48/36 */
  padding: 2.5rem 1.25rem;

  background-color: var(--clr-orange);
  color: var(--clr-white);

  flex-basis: 10.625rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1439.98px) {
  .travellian__content {
    margin-bottom: 8.75rem;
  }
  .travellian__container {
    padding-top: 12.5rem;
    padding-bottom: 9.375rem;
  }
  .travellian__title {
    font-size: 4rem;
  }
  .travellian__inputs {
    width: 90%;
  }
}

@media (max-width: 1151.98px) {
  .travellian__content {
    margin-bottom: 6.25rem;
  }
  .travellian__title {
    font-size: 3.375rem;
  }
  .travellian__text {
    font-size: 1.25rem;
  }
  .input__group {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem;
  }
  .input__btn {
    padding: 3.75rem 1.25rem;
  }
}

@media (max-width: 768.98px) {
  .travellian__container {
    padding-bottom: 6.25rem;
  }
  .travellian__content {
    width: 90%;
  }
  .travellian__title {
    font-size: 2.5rem;
    height: 132.5%; /* 53/40 */
  }
  .travellian__text {
    font-size: 18px;
  }
  .travellian__inputs {
    border-radius: 20px;
    flex-direction: column;
    width: 100%;
  }

  .travellian__inputs::after {
    display: none;
  }
  .input__group {
    padding-top: 2rem;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .input__item {
    padding: 0 2rem;
  }

  .input__btn {
    padding: 2.5rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
  }
}
